body {
    font: caption;
    padding: 10px;
}

body * {
    padding: 0;
    margin: 0;
}

ul {
    position: absolute;
    background: #f1f1f1;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 3px;
    list-style-position: inside;
    list-style-type: none;
}

li {
    font-size: 1.2em;
    padding: 2px 5px;
}

li:hover {
    background: #cdcdcd;
}

.app_container {
    max-height: 100vh;
    position: relative;
}

.app {
    margin: 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: 5px;
}

.app h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.character_controller {
    /*  */
}

.character_name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.app button {
    background: black;
    color: white;
    font-size: 1em;
    padding: 5px;
    border-radius: 3px;
}

.app button:hover {
    background: #cdcdcd;
    color: black;
}

.export_container {
    margin-top: 8px;
    display:flex;
    justify-content: flex-end;
}

.quirk_input_container {
    /* background: cyan; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quirk_window {
    width: 100%;
    padding: 5px;
}

.quirk_input {
    width: 100%;
}

.separator {
    position: relative;
    left: 1px;
    top: 38px;
    height: 235px;
    border: 1px solid rgb(164, 164, 164);
}

.warning_message {
    color: red;
    margin: 5px 0;
    padding: 3px;
    border: 1px dashed red;
}

#script_window {
    margin: 0;
    padding: 0;
    padding-right: 12px;
}

#script_input {
    font-size: 1em;
    padding: 5px;
    width: 100%;
    height: 100%;
}

#export_button {
    margin-left: 5px; 
}